@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* html {
  background-color: #111111;
} */

.allergy_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 33%;

 }
 
 .allergy_list {
  margin-left: 2em;
  font-size: 25px;
  font-family: 'Montserrat',sans-serif;
  color: coral;
}

#main_categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 #title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 55px;
  font-family: 'Montserrat',sans-serif;
  margin-top: 50px;
  color:coral;
}

button:hover {
  border: solid #000000 8px;
  filter: drop-shadow(10px 10px 10px #666666);
}

button {
  font-size: 25px;
  font-family: 'Montserrat',sans-serif;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  border: solid #222222 8px;
  margin: 15px
}

#inputAllergy {
  font-size: 25px;
  font-family: 'Montserrat',sans-serif;
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 75px;
  border: solid black 8px;
  border-radius: 20px;
}

#nav_button {
  font-size: 25px;
  font-family: 'Montserrat',sans-serif;
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 75px;
  border: solid #222222 8px;
  border-radius: 20px;
}

#nav {
   display: flex;
   justify-content: center;
 }

